{% extends 'catalog/base.html' %}

{% block container %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-danger m-5 p-4">
                <h4 class="card-title text-center">Выход из системы</h4>
                <p class="card-text text-center font-weight-bold text-danger">Вы уверены, что хотите выйти из аккаунта?</p>

                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-lg btn-danger mt-3">Да, выйти</button>

                        <a href="{% url 'catalog:base' %}" class="btn btn-lg btn-primary mt-3">Нет, остаться</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}