{% extends 'blog_app/blog.html' %}
{% load blog_tags %}
{% block container %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="text-center">
                    <img src="{{ object.preview | media_filter }}" class="img-fluid" style="max-height: 300px; margin: auto;">
                </div>
                <div class="card-body">
                    <p class="card-text"> {{ object.title }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'blog_app:blog' %}" role="button">Назад</a>


                        </div> <small class="text-body-secondary"></small> </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"> {{ object.content }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div> <small class="text-body-secondary"></small> </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <p class="card-text"> </p>
                            <p class="card-text">   </p>
                        </div> <small class="text-body-secondary"></small> </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'blog_app:post_update' object.pk %}" role="button">Редактировать</a>
                            <a class="btn btn-primary me-2" href="{% url 'blog_app:post_delete' object.pk %}" role="button">Удалить</a>
                            Количество просмотров: {{ object.view_count }}
                        </div> <small class="text-body-secondary"></small> </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}